* {
    font-family: 'Dosis', sans-serif;
}

body {
    background-image: linear-gradient(to bottom right, #E0BCF3, #7EE7EE);
    background-size: cover;
}

body fieldset textarea {
    height: 10em; 
    /*  rows  */
    width: 33em;
    /* cols */
    
}
/*  display none se nenhuma opção estiver marcada */
body form fieldset .incremento {
    display: none;
}

header h1, p {
    text-align: center;

}
