* {
    font-family: 'Dosis', sans-serif;
}

body {
    background-image: linear-gradient(to bottom right, #E0BCF3, #7EE7EE);
    background-size: cover;
}

body section textarea {
    height: 10em; 
    /*  rows  */
    width: 33em;
    /* cols */
    
}
form .container {
    border: 1px solid red;
    

}

/*  display none se nenhuma opção estiver marcada */
body form section .incremento {
    display: none;
}



body form section .mensagem-usuario {
    display: column;
}

body form button {
    background-color: black;
    color: white;
    border-radius: 12px;
    width: 200px;
    height: 6vh;
    font-weight: bold;
    cursor: pointer;
}

body form textarea {
    border-radius: 8px;
}


